---
import Layout from '../components/Layout.astro';
import InteractiveSelector from '../components/ui/interactive-selector.tsx';
---

<Layout title="Interactive Selector Demo" description="Demo of the interactive selector component">
    <div class="w-full min-h-screen">
        <InteractiveSelector client:load />
    </div>
</Layout>
